<h1 class="page-header">Edit Blog</h1>
<div *ngIf="message" [ngClass]="messageClass">
  {{message}}
</div>

<form *ngIf="blog" #editForm="ngForm" (ngSubmit)="editFormSubmit(editForm.value)">
  <div class="form-group">
    <label>Title</label>
    <input [disabled]="processing" type="text" name="title" [(ngModel)]="blog.title" class="form-control">
  </div>
  <div class="form-group">
    <label>body</label>
    <textarea [disabled]="processing" type="text" name="body" rows="6" cols="30" [(ngModel)]="blog.body" class="form-control"></textarea>
  </div>
  <button [disabled]="processing" class="btn btn-primary">Save changes</button>
  <button [disabled]="processing" (click)="cancel()" class="btn btn-warning">Cancel</button>
  <button [disabled]="processing" class="btn btn-danger">Delete</button>
</form>
